body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn {
  font-size: 16px;
  outline: 0;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 3;
}

.task {
  padding: 20px 2px;
  margin: 20px 2px;
  text-align: center;
  border: 1px dotted grey;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-task {
  border-left: 7px solid #1fdd1f
}
